<div class="body">
  <img class="logo" src="{{ logo }}" alt="logo">
  <h1 id="quote">Using Revahousing was one of the best things of my experience with revature!<br/>-Michelle</h1>
  <h2 id="message">Answer a quick survey to improve our service!!</h2>
  <img class="woman" src="{{ women }}" alt="women">
  <div class="survey">
    <h2 id="question">What's the most important thing when your looking for new housing?</h2>
    <mat-radio-group class="custom-radio">
      <mat-radio-button value="roommate" [checked] ="true">Roommate</mat-radio-button>
      <mat-radio-button value="location">Location</mat-radio-button>
      <mat-radio-button value="price">Price</mat-radio-button>
    </mat-radio-group>
  </div>
  <button id="login" mat-flat-button>LOGIN</button>
  <button id="signup" mat-flat-button>CLICK HERE TO SIGN UP!</button>
  <footer class="footer">&copy; Revahousing2020</footer>
</div>
