<section class="register-container" fxLayout="column" fxLayoutAlign="center center">
    <img class="logo" src="{{ logo }}" alt="logo">
    <mat-card style="text-align: center;">
    <h1>Sign Up for your free Revahousing account!</h1>
    <form class="mat-form-field--inline" #f="ngForm" fxLayoutGap="10px" (ngSubmit)="onSubmit(f)" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row">
        <mat-form-field>
            <mat-label>Firstname</mat-label>
            <input type="text" matInput ngModel name="first_name" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Lastname</mat-label>
            <input type="text" matInput ngModel name="last_name" required>
        </mat-form-field>
        </div>
        <div fxLayout="row">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" matInput ngModel name="email" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput ngModel name="pass" required>
        </mat-form-field>
        </div>
        <div fxLayout="row">
        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input type="text" matInput ngModel name="phone" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="gender">
                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                  {{gender.viewValue}}
                </mat-option>
              </mat-select>
        </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Were you interested in Renting or Posting?</mat-label>
            <select matNativeControl>
                <option value="rent">Rent</option>
                <option value="post">Post</option>
                </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>How you heard about Revhousing?</mat-label>
            <select matNativeControl>
                <option value="social">Social Media</option>
                <option value="friend">Recommended by a Friend</option>
                <option value="revature">Revature</option>
                <option value="none">N/A</option>
                </select>
        </mat-form-field>
        <button routerLink="/login" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Sign up!</button>
    </form>
</mat-card>
        <button routerLink="/login" id= "loginbutton" routerLink="/login" mat-raised-button color="warn">Login</button>
        <footer class="footer">&copy; Revahousing2020</footer>
</section>
