<section fxLayout="column" fxLayoutAlign="center center">
    <h1 style="font-family: 'Sen', sans-serif; font-size: 2vw; margin-bottom: 30px;">Welcome to RevHousing</h1>
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="searchField" fxLayoutGap="10px">
            <mat-form-field class="addressField">
                <mat-label>Address</mat-label>
                <input type="text" ngModel name="address" matInput placeholder="1001 s center street" #inputAddress>
            </mat-form-field>
            <mat-form-field class="zipcodeField">
                <mat-label>Zipcode</mat-label>
                <input type="text" ngModel name="zipcode" matInput placeholder="76010" #inputZipcode required>
            </mat-form-field>
        </div>
        <button style="color: white; background-color: #0A567B;" [disabled]="f.invalid" mat-raised-button color="primary" type="submit">SEARCH</button>
    </form>
    <agm-map fxLayout="column" fxLayoutAlign="center center" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let coordinate of searchResult; let i = index" [latitude]="coordinate.latitude" [longitude]="coordinate.longitude">
            <agm-info-window>
                <a [routerLink]="'/view-post/' + coordinate.post_id">{{ coordinate.title }}</a>
                <p><strong>$ {{ coordinate.rent }}</strong></p>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</section>
