<section class="my-posts-container" fxLayoutGap="30px" fxLayout="column" fxLayoutAlign="center start">
    <h1 style="font-family: 'Sen', sans-serif; font-size: 2vw;">Bookmarked Posts</h1>
    <div class="cards">
        <mat-card fxFlex="40vw" *ngFor="let post of bookmarkedPosts; let i = index">
            <mat-card-header>
                <mat-card-title>{{ post.title }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="post.image_link_one" (click)="onClickCard(i)">
            <mat-card-content>
                <p><strong>Daily rent: $ {{ post.rent }}</strong></p>
                <p>{{ post.description }}</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="space-between">
                <button mat-raised-button color="primary" (click)="onClickInterest(i)">SHOW INTEREST</button>
                <button mat-button color="warn" (click)="onClickUnBookMark(i)">UNBOOKMARK</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>
