<section class="view-post-container" fxLayoutGap="100px" fxLayoutAlign="center" >
    <div class="colContainer">
        <div id="imagesCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let image of images" [ngClass]="image.className">
                    <img [src]="image.url" class="d-block w-100">
                </div>
            </div>
            <a class="carousel-control-prev" href="#imagesCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#imagesCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
        <agm-map fxLayout="column" fxLayoutAlign="center center" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
    <div class="colContainer" fxLayout="column" fxLayoutGap="20px">
        <h1>Title</h1>
        <p><strong>Daily rent: 100</strong></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, praesentium, voluptatum ipsam tempora quod doloribus quisquam numquam impedit ducimus voluptatibus omnis harum consectetur pariatur repellendus excepturi atque nam asperiores enim.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, praesentium, voluptatum ipsam tempora quod doloribus quisquam numquam impedit ducimus voluptatibus omnis harum consectetur pariatur repellendus excepturi atque nam asperiores enim.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, praesentium, voluptatum ipsam tempora quod doloribus quisquam numquam impedit ducimus voluptatibus omnis harum consectetur pariatur repellendus excepturi atque nam asperiores enim.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, praesentium, voluptatum ipsam tempora quod doloribus quisquam numquam impedit ducimus voluptatibus omnis harum consectetur pariatur repellendus excepturi atque nam asperiores enim.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, praesentium, voluptatum ipsam tempora quod doloribus quisquam numquam impedit ducimus voluptatibus omnis harum consectetur pariatur repellendus excepturi atque nam asperiores enim.</p>
        <div fxLayoutAlign="space-between">
            <div>
                <button mat-button color="primary">INTERESTED</button>
                <button mat-button color="primary">BOOKMARK</button>
            </div>
            <button mat-button color="warn">RETURN</button>
        </div>
    </div>
</section>
