<section class="view-post-container" fxLayoutGap="100px" fxLayoutAlign="center" >
    <div class="colContainer">
        <div id="imagesCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let image of currentPost.images" [ngClass]="image.className">
                    <img [src]="image.url" class="d-block w-100">
                </div>
            </div>
            <a class="carousel-control-prev" href="#imagesCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#imagesCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
        <agm-map fxLayout="column" fxLayoutAlign="center center" [latitude]="currentPost.latitude" [longitude]="currentPost.longitude" [zoom]="zoom">
            <agm-marker [latitude]="currentPost.latitude" [longitude]="currentPost.longitude"></agm-marker>
        </agm-map>
    </div>
    <div class="colContainer" fxLayout="column" fxLayoutGap="20px">
        <h1>{{ currentPost.title }}</h1>
        <p><strong>Daily rent: $ {{ currentPost.rent }}</strong></p>
        <p>{{ currentPost.description }}</p>
        <div fxLayoutAlign="space-between">
            <div *ngIf="currentPost.creator.customer_id != 3">
                <button mat-button color="primary">INTERESTED</button>
                <button *ngIf="bookmarked" mat-button color="primary" (click)="onClickBookMark()">BOOKMARK</button>
                <button *ngIf="!bookmarked" mat-button color="primary" (click)="onClickUnBookMark()">UNBOOKMARK</button>
            </div>
            <button mat-button color="warn" (click)="returnToLastPage()">RETURN</button>
        </div>
    </div>
</section>
