/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: sen, 'Sen', sans-serif; }

section {
  margin-top: 5vh;
}

@font-face{
  font-family: sen;
  src: url(assets/fonts/Sen-Regular.ttf);
}
